$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Noto Sans", sans-serif;
$linkColor: #212529 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}
